<h1><%= @pirate1.name %>
  <%= @pirate1.weight %>
  <%= @pirate1.height %>
</h1>


<h2><%= @ship1.name %>
  <%= @ship1.type %>
  <%= @ship1.booty %>
</h2>

<h3><%= @ship2.name %>
 <%= @ship2.type %>
 <%= @ship2.booty %>
 </h3>
