<h1><%= @pirate.name %></h1>

<p> <%= @pirate.weight %> </p>
<p> <%= @pirate.height %> </p>


<h2><%= @first_ship.name %> </h2>

<p> <%= @first_ship.type %> </p>
<p> <%= @first_ship.booty %> </p>



<h2><%= @second_ship.name %> </h2>

<p> <%= @second_ship.type %> </p>
<p> <%= @second_ship.booty %> </p>
